@icon-height: 1.2em;
@icon-width: 1.3em;

// colors
@warning-color: orange;
@error-color: red;

// urls
@warning-icon-url: 'images/noun_116102.svg';
@error-icon-url: 'images/noun_61752.svg';

.brackets-eslint-gutter {
  cursor: default;
  line-height: @icon-height;
  display: inline-flex;

  &.warning {
    &:after {
      content: ' ';
      width: @icon-width;
      background-color: @warning-color;
      -webkit-mask: url(@warning-icon-url)  center / contain no-repeat;
    }
  }

  &.error {
     &:after {
      content: ' ';
      width: @icon-width;
      background-color: @error-color;
      -webkit-mask: url(@error-icon-url)  center / contain no-repeat;
    }
  }
}
